.navBar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(128, 255, 0);
}
.navOpen{
   display: flex;
   position:absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(128, 255, 0);
    flex-direction: column;
    align-items: center;
}
.navLink{
    display: flex;
    font-size: 2em;
    font-weight: 400;
    color: rgb(255, 123, 0);
    padding-top: 90px;
}

.navLink
.borde{
    display: flex;
    height: 1px;
animation-name: animaciondelborde;
animation-duration: 1s;
background-color: rgb(25, 25, 150);


}
@keyframes animaciondelborde{
    0%{
        height: 0px;
    }
    100%{
        height: 1px;
    }


}
.logo{
    display: flex;
    color: rgb(173, 58, 8);
font-weight: 600;

}
@media(min-width:800px){
    .logo{
        font-size: 1.5em;
    }
    .navBar{
        align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}
.linksContainer{
    display: flex;
    width: 50%;
flex-direction: row;
justify-content: space-evenly;
}
.navLink{
    padding-top: 4px;
    font-size: 1.4em;
 
}


}
